:root {
  --light-gray: #f9f9f9;
}

* {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  margin: 0px;
  padding: 0px;
  height: 100vh;
  overflow-x: hidden;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  height: 20vh;
}
main {
  height: 70vh;
}

header p {
  font-size: 14px;
  font-weight: 500;
}

.section_title {
  text-align: center;
  margin: 0px;
  padding: 10px;
}

#project_section {
  background-color: var(--light-gray);
  display: flex;
  flex-direction: column;
}

#project_section ul {
  display: flex;
  justify-content: center;
  flex-direction: row;
  list-style-type: none;
  padding: 10px;
  gap: 20px;
}

.project_card {
  padding: 10px 30px;
}

.project_card:hover {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 15px;
  transform: scale(1.05);
}
.project_card a {
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.project_card img {
  border-radius: 50%;
  height: 80px;
}

.project_card p {
  text-align: justify;
  font-size: 12px;
}

#skills_section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#skills_section table th,
td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

footer {
  margin-top: 50px;
  text-align: center;
  background-color: var(--light-gray);
  height: 10vh;
}

#social_media_links a img {
  height: 20px;
  margin: 10px 10px 0px 10px;
}

footer p {
  font-size: 10px;
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .project_card p {
    font-size: 16px;
  }
}

@media screen and (max-width: 1100px) {
  #skills_section table th,
  td {
    padding: 2px;
  }
}
